@model List<LibraryManagementSystem.Dto.BookDtos.ResultBookDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kitap Adı</th>
                                <th>Kitap Title</th>
                                <th>Kitap Yazarı</th>
                                <th>Kitap Barkodu</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Name</td>
                                    <td>@item.Title</td>
                                    <td>@item.Author</td>
                                    <td>@item.ISBN</td>
                                    <td><a href="/Admin/Book/DeleteBook/@item.Id" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/Admin/Book/UpdateBook/@item.Id" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Admin/Book/CreateBook/" class="btn btn-primary">Yeni Kitap Girişi</a>
                </div>
            </div>
        </div>



    </div>
</section>

